/*===========reset============*/
html,body,section,a,p,h1,h2,h3,h4,h5,h6,strong,em,span,i,input,textarea,img,button,select,li,ol,ul,table,dd,dl,dt,div{
    padding: 0;
    margin:0;
    outline:none;
    box-sizing: border-box;
}


.note-thumb ul,
.note-thumb li,
.note-cate ul,
.note-cate li{
    list-style: none;
}
.note-cate strong,
.note-cate i{
    font-style: normal;
    font-weight: normal;
}
.note-cate input,
.note-edit input,
.note-edit button,
.note-thumb button,
.note-edit textarea{
    border:none;
    background:#fff;
}

html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    font-size:14px;
    color:#555;
    font-family: "Microsoft YaHei",Î¢ÈíÑÅºÚ, sans-serif !important;
}

/**note-cate**/
.note-cate{
    width:15%;
    height:100%;
    min-height: 700px;
    float:left;
    background:#333;
    color:#CCC;
}
.note-cate h1{
    font-size:32px;
    text-align: center;
    margin-top: 30px;
    margin-bottom:40px;
    font-weight: normal;
}
.note-cate h3{
    font-size:16px;
    position: relative;
    height: 32px;
    line-height: 32px;
    font-weight: normal;
}
.note-cate h3 i{
    position: absolute;
    right:10px;
    top:7px;
}
.note-cate h3 i:hover{
    cursor: pointer;
    color:#efefef;
}
.note-cate .cate{
    margin-bottom:20px;
}
.note-cate .cate input{
    width: 100px;
    height:22px;
    margin-left: 15px;
    background-color: #efefef;
    padding-left:10px;
}
.note-cate .cate>div>.icon-ok{
    margin-left: 15px;
    margin-right:15px;
}
.note-cate .cate>div>i:hover{
    cursor: pointer;
    color: #effefe;
}
.note-cate li{
    line-height: 2.2;
    text-indent: 15px;
    position: relative;
}
.note-cate li .icon-remove{
    position: absolute;
    right:10px;
    top:8px;
}
.icon-remove:hover{
    cursor: pointer;
}
.note-cate .cate>li:hover{
    cursor: pointer;
    padding-left: 15px;
    background:#999;
    color: #f7f7f7;
}
.note-cate .active{
    background:#999;
}

/**note-thumb**/
.note-thumb{
    width:35%;
    height:100%;
    min-height: 700px;
    float:left;
    border-left:10px solid #CCC;
    border-right:10px solid #CCC;
    padding-left:10px;
    padding-right:10px;
}
.note-thumb h1{
    font-size:32px;
    margin-top: 30px;
    margin-bottom:40px;
    position: relative;
    color:#CCC;
}
.note-thumb h1 button{
    position: absolute;
    top:6px;
    right:0px;
    background: #da3712;
    color:#fff;
    font-size:16px;
    padding:6px 13px;
    border-radius: 5px;
}
.note-thumb h1 button:hover{
    cursor: pointer;
    background-color: #ea4444;
}
.note-thumb .note{

}
.note-thumb .note span{
    float: right;
}
.note-thumb li{
    width:100%;
    height:120px;
    overflow: hidden;
    background:#E9E9E9;
    margin:5px 0;
    border-radius: 5px;
    padding:5px;
}
.note-thumb li:hover{
    cursor: pointer;
    background: #FFF !important;
    border:2px solid #0088bb;
}
.note-thumb li h6{
    font-weight: bold;
    font-size:14px;
}
.note-thumb .active{
    background: #FFF !important;
    border:2px solid #0088bb;
}
/**note-detail**/
.note-detail{
    display: block;
    width:50%;
    height: 100%;
    min-height: 700px;
    float: left;
}
.note-detail h1.detail-title{
    width:100%;
    height:112px;
    background:#da3712;
    color:#FFF;
    font-size:25px;
    position: relative;
    padding:30px 20px;
}
.note-detail h1 span.detail-time{
    font-size: 18px;
}
.note-detail .detail-title .icon-wrap{
    position: absolute;
    right: 30px;
    top:33px;
}
.note-detail .detail-title .icon-edit{
    margin-right:20px;
}
.note-detail .detail-title .icon-edit:hover{
    cursor: pointer;
}
.note-detail .detail-time i:hover{
    cursor: pointer;
    color:#efefef;
}
.note-detail .note-content{
    text-indent: 20px;
    padding:20px;
}
/**note-edit**/
.note-edit{
    display: none;
    width:50%;
    height: 100%;
    min-height: 700px;
    float: left;
}
.note-edit>header{
    margin-top: 40px;
    padding-bottom: 6px;
    padding-left: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: solid 1px #999999;
}
.note-edit>header span{
    font-size: 18px;
    padding: 5px 15px;
    font-weight: 600;
}
.note-edit>header span:hover{
    cursor: pointer;
    border-bottom: solid 3px #999999;/*da3712*/
}
.activeSpan{
    border-bottom: solid 3px #da3712;
    cursor: pointer;
}
.note-edit>header input{
    border:solid #999999 1px;
    border-radius: 3px;
    height: 25px;
    width: 200px;
    margin-left: 10px;
}
.note-edit>article{
    margin-top: 15px;
    padding-bottom: 6px;
    margin-left: 15px;
    margin-right: 15px;
}
.note-edit>article .edit{
    display: block;
}
.note-edit>article .view{
    display: none;
}
.note-edit>article input{
    border-bottom: solid 1px #999999;
    width: 100%;
    height: 35px;
}
.note-edit>article textarea{
    width: 100%;
    border-bottom: solid 1px #999999;
    height: 350px;
    margin-top: 15px;
}
.note-edit>article h3{
    font-size: 21px;
    margin: 10px 5px;
}
.note-edit>footer{
    margin-top: 15px;
}
.note-edit>footer span{
    float: right;
    padding: 5px 18px;
    background-color: #ededed;
    margin-right: 15px;
}
.note-edit>footer span:hover{
    cursor: pointer;
    background-color: #dedede;
}

.hiddenSpan{
    display: none;
}
@media(min-width: 678px){
    .note-cate .add-icon{
        display: none;
    }
}
@media(max-width: 678px){
    .note-cate{
        display: block;
        background-color: #fff;
        width: 100%;
        color: #101010;
    }
    .note-cate h1{
        background-color: #101010;
        color: #fff;
        margin-top: 0px;
        font-size: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .note-cate .cate>div{
        margin-top: 10px;
    }
    .note-cate .cate{
        margin-top: 10px;
    }
    .note-cate .cate>li{
        border-bottom: solid 1px #dadada;
        padding:8px 10px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 18px;
    }
    .note-cate .cate>li:first-child{
        border-top: solid 1px #dadada;
    }
    .note-cate .cate>li:hover{
        cursor: pointer;
        background:#efefef;
        color: #101010;
        padding-left: 10px;
    }
    .note-cate .trash{
        position: fixed;
        bottom:0px;
        background-color: #f7f7f7;
        width: 100%;
        padding: 8px 25px 40px 25px;
        display: block;
        font-size: 18px;
    }
    .note-cate .icon-trash{
        position: absolute;
        right: 30px;
        top: 15px;
    }
    .note-cate .icon-trash:hover{
        color: #666666;
    }
    .note-cate .note-tag{
        display: none;
    }
    .note-cate .icon-plus-sign{
        color: #fff;
        position: absolute;
        top: 25px;
        right: 35px;
        display: block;
    }
    .note-cate .cate input{
        width: 250px;
    }
    .note-cate .cate>div>i:hover{
        color: #999999;
    }
    .note-cate .icon-plus-sign:hover{
        color: #ededed;
        cursor: pointer;
    }
    .note-cate .cate .icon-remove{
        margin-top: 10px;
        margin-right: 15px;
    }
    .note-cate .recycle{
        display: none;
    }
    .note-thumb{
        display: none;
    }
    .note-detail{
        display: none;
    }
    .note-edit{
        display: none;
    }
}